.container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.aside {
  @media (min-width: 768px) {
    width: 50%;

    h3 {
      font-size: 14px;
      color: #666;
      margin: 0 0 5px;
    }
  }
}

.projectGrid {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  :global(.project-post-preview ) {
    padding: 2.5%;
    border: 1px solid #ccc;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      min-height: 200px;
      flex-basis: 49%;
      -ms-flex: auto;
      width: 49%;
      margin: 0.5%;

      &:nth-child(2n+1) {
        margin-left: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      > h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      > p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
